header {
  height: 100vh;
  margin: 0;
  width: 100vw;
}
.header-nav {
  align-items: center;
  background-color: var(--logo-pallete-petal-rose);
  display: flex;
  gap: 32px;
  height: 40px;
  justify-content: space-between;
  padding: 0 16px;
  margin: 0;
  position: fixed;
  transition: all 0.5s ease-in-out;
  width: 100%;
  z-index: 100;
}
.header-nav img {
  height: 32px;
  width: 32px;
}

.header-nav ul {
  justify-content: center;
  list-style: none;
  gap: 32px;
  margin: 0;
  padding: 0;
}
.header-nav ul li a img {
  height: 20px;
  width: 20px;
}
.header-nav ul .switch-button-darkmode {
  display: flex;
  margin: 0;
}

header .banner {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: center / cover no-repeat
    url("../../img/header/main-banner/trabalho_em_consultorio2.webp") fixed;
}

div.logo-container {
  align-items: center;
  background-color: var(--logo-pallete-petal-rose);
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 180px;
  margin-top: -145px;
  width: 100%;
}

div.logo-container div.logo > img {
  width: 320px;
}
div.logo-container .slogan {
  font-size: 20px;
  font-weight: 600;
  margin-top: -16px;
}

section .banner-image-container {
  justify-content: center;
  display: flex;
  background-color: #fae7eb92;
  margin-top: 40px;
  width: 100%;
}
section .banner-image-container > img {
  width: 100%;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 1199px) {
  .header-nav ul {
    display: none;
  }
}

@media screen and (min-device-width: 1200px) {
  .header-nav {
    justify-content: center;
  }
  .header-nav ul {
    display: flex;
  }
  .header-nav ul li p{
    font-size: large;
  }

  div.logo-container {
    height: 300px;
    margin-top: -290px;
  }
  div.logo-container div.logo > img {
    width: 600px;
  }

  section .banner-image-container > img {
    width: 500px;
  }
}
