.about-container {
  background-image: linear-gradient(135deg, #fae7eb 25%, transparent 25%),
    linear-gradient(225deg, #fae7eb 25%, transparent 25%),
    linear-gradient(45deg, #fae7eb 25%, transparent 25%),
    linear-gradient(315deg, #fae7eb 25%, #fff 25%);
  background-position: 10px 0, 10px 0, 0 0, 0 0;
  background-size: 20px 20px;
  background-repeat: repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 24px;
}

.about-container div section {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.about-container div > h2,
p {
  margin: 0;
}
.about-container div section > img {
  width: 240px;
}
.about-container div section > p {
  margin-top: 16px;
  padding: 16px;
}

@media screen and (min-device-width: 1200px) {
  .about-container {
    display: flex;
    justify-content: center;
    padding-top: 48px;
  }
  
  .about-container div section {
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center; 
  }
  
  .about-container div section > img {
    width: 600px;
  }
  .about-container div section p.about-description {
    font-size: 3.5rem;
    margin: 0;
    width: 50%;
  }
}
