.rating-container {
  background-image: linear-gradient(135deg, #fae7eb9b 25%, transparent 25%),
    linear-gradient(225deg, #fae7eb9b 25%, transparent 25%),
    linear-gradient(45deg, #fae7eb9b 25%, transparent 25%),
    linear-gradient(315deg, #fae7eb9b 25%, #fff 25%);
  background-position: 10px 0, 10px 0, 0 0, 0 0;
  background-size: 20px 20px;
  background-repeat: repeat;
  background-attachment: fixed;
  padding-bottom: 24px;
}

.users-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 16px;
}

.user-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 390px;
}
.user-container > img {
  border: 4px solid var(--logo-pallete-petal-rose);
  border-radius: 50%;
  margin-bottom: -100px;
  width: 200px;
  z-index: 1;
}
.user-description {
  background-color: var(--logo-pallete-petal-rose);
  border-radius: 8px;
  padding: 16px;
  padding-top: 116px;
  height: 144px;
  text-align: center;
  width: 100%;
}
.user-description .rating-stars {
  margin: 8px 0;
}
.user-description .rating-stars .star {
  color: rgb(204, 187, 4);
  font-size: 2.5rem;
}
.user-description span {
  font-size: 2rem;
}
.user-description p {
  font-size: 1.5rem;
}

.skeleton {
  align-items: center;
  animation: fadeCard 4s infinite alternate;
  display: flex;
  flex-direction: column;
  width: 390px;
}
.skeleton > img {
  background-color: #4b4b4b;
  border: 4px solid #7d7b7b;
  border-radius: 50%;
  margin-bottom: -100px;
  height: 200px;
  width: 200px;
  z-index: 1;
}
.skeleton > div {
  background-color: #4b4b4b;
  border-radius: 8px;
  height: 200px;
  width: 100%;
}
.skeleton > div .skeleton-name {
  animation: fadeCard 4s infinite alternate;
  background-color: #7d7b7b;
  border-radius: 8px;
  height: 12px;
  margin: 116px auto 4px auto;
  width: 100px;
}
.skeleton > div > div .skeleton-stars {
  animation: fadeCard 4s infinite alternate;
  background-color: #7d7b7b;
  border-radius: 8px;
  height: 12px;
  margin: 0 auto 4px auto;
  width: 132px;
}

.skeleton > div > .skeleton-description {
  background-color: #7d7b7b;
  border-radius: 8px;
  height: 32px;
  margin: 0 auto 4px auto;
  width: 90%;
}

@keyframes fadeCard {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.9;
  }

  100% {
    opacity: 0.5;
  }
}

@media screen and (min-device-width: 1200px) {
  .user-description .rating-stars {
    font-size: 3rem;
  }
  .user-description p {
    font-size: 2rem;
  }
}
